<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="{% static 'filmy/style2.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<main class="container">
    <nav>
        <ul>
            <li>
                <a href="{% url 'filmy:seznam' %}">Seznam filmů</a>
            </li>
        </ul>
    </nav>

    {% include 'filmy/search_form.html' %}

    <h1>{{ film.nazev }}</h1>
    <p>{{ film.popis }}</p>
</main>

</body>
</html>