{% extends 'eshop/_layout.html' %}

{% block eshop_content %}

    <style>
        .columns > div > img {
            border-radius: 1.2rem;
        }
        .columns > div {
            border-radius: 1.2rem;

        }
    </style>
    <div class="columns is-multiline">
        <div><img src="https://picsum.photos/320/300/" alt=""></div>
        <div class="column" style = "margin-left:5px; background: lightblue; max-width: 320px;">
            <h1 class="title">{{ produkt.nazev}}</h1>


            <p>{{ produkt.popis }}</p>
            <p style="color: red;">Cena: {{ produkt.aktualni_cena }}</p>
            <p>Znacka: {{ produkt.znacka.nazev }}</p>
            <p>Množství: {{ produkt.mnozstvi }}</p>
            <p>Kategorie: {{ produkt.kategorie }}</p>

        </div>

    </div>

{% endblock %}